* {
    margin: 0px;
}
body {
    padding-bottom: 250px;
    background-color: rgb(100, 126, 196);
    background-image: linear-gradient(rgb(100, 126, 196), rgb(93, 144, 227), rgb(155, 210, 235));
}

/* --------------------------------nav-bar---------------------------------- */

a {
    text-decoration:none;
}

/* for locating template files, serving as a nav-bar for backtracking */
.locating li { 
    display: inline-block;
}
.locating a::after {
    content: " >";
}
/* --------------------------------Content---------------------------------- */
h3 {
    font-family: headerFontII;
    font-size: larger;
}
p {
    font-family: headerFontI;
}
.content {
    display:flex; 
    flex-direction: column;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
.formula { /* for introducing formulas */
    display: inline-block flex; /* each list item in flex box --> ordered into a row */
    list-style-type: none;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-left: solid;
}



/* FONTS */
@font-face {
    font-family: navFontI;
    src: url('Persona5MenuFontPrototype-Regular.ttf');
}
@font-face {
    font-family: navFontII;
    src: url('p5hatty-1.ttf');
}
@font-face {
    font-family: headerFontI;
    src: url('ZillaSlabHighlight-Regular.ttf');
}
@font-face {
    font-family: headerFontII;
    src: url('YujiSyuku-Regular.ttf');
}